.AddPerson {
    text-align: center;
    margin: 30px;
}

input {
    display: block;
    margin: 20px auto;
    padding: 5px;
}

.button {
    font-size: large;
    padding: 10px;
    display: block;
    margin: 20px auto;
}